<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I'm the index.html</title>
</head>
<body>
<table>
    <tr>
        <td><a href="/index">到主页</a></td>
        <td><a href="/hello">返回hello</a></td>
        <td><a href="/classPath/methodPath">@RequestMapping("/classPath")测试</a></td>
    </tr>
    <tr>
        <td><a href="users/livingbody">@RequestMapping("/users/{username}")测试</a></td>
        <td><a href="/posts/1111">@RequestMapping("/posts/{id}")</a></td>
        <td><a href="/login"> @RequestMapping(value = "/login", method = RequestMethod.GET)方法测试</a></td>
    </tr>
    <tr>
        <td><a href="/users/livingbody">@RequestMapping("/users/{username}")测试</a></td>
        <td><a href="/myhello/livingbody">到/myhello/{name}</a></td>
        <td><a href="/">到主页</a></td>
    </tr>
</table>
</body>
</html>